# Boston Housing ML
- Author: Rishu Shrivastava
- Link: https://www.kaggle.com/c/boston-housing

In [1]:
import pandas as pd
import numpy as np

In [9]:
boston_data=pd.read_csv('C:/Users/Rishu/Desktop/dATA/boston/train.csv')

boston_data.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [10]:
boston_data_test=pd.read_csv('C:/Users/Rishu/Desktop/dATA/boston/test.csv')
boston_data_test.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
1,6,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21
2,8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15
3,9,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93
4,10,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10

In [56]:
X = boston_data[['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','black']]
X_bd_test=boston_data_test[['crim','zn','indus','chas','nox','rm','age','dis','rad','tax','ptratio','black']]

In [7]:
y = boston_data[['medv']]

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

print(len(X_train), len(y_train), len(X_test), len(y_test))

249 249 84 84

In [30]:
from sklearn.linear_model import LinearRegression

lr_clf = LinearRegression()
lr_clf.fit(X_train, y_train)

print("Linear Regression: ",lr_clf.score(X_test,y_test))

Linear Regression:  0.683190001261

In [36]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor(random_state=0)
dtr.fit(X_train, y_train)
print("Decision Tree Regressor",dtr.score(X_test,y_test))
#print(dtr.decision_path(X_test))

Decision Tree Regressor 0.887904066236

In [41]:
from sklearn.linear_model import SGDRegressor

sgd = SGDRegressor()
sgd.fit(X_train, np.ravel(y_train))
print("Stochastic Gradient Descent",sgd.score(X_test,y_test))

Stochastic Gradient Descent -1.29027582188e+27

In [55]:
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=0.01)
lasso_reg.fit(X_train, y_train)
print("Lasso Regression",lasso_reg.score(X_test,y_test))

Lasso Regression 0.687249128833

In [57]:
# Using Decision Tree Regression to Train and Test the data
from sklearn.tree import DecisionTreeRegressor

def ml_decision_tree():
    dtr = DecisionTreeRegressor(random_state=0)
    dtr.fit(X, y)
    return dtr.predict(X_bd_test)
    


def create_submission():
    submission = pd.DataFrame({
            "ID": boston_data_test['ID'],
            "medv": ml_decision_tree()
            })
    submission.to_csv('C:/Users/Rishu/Desktop/dATA/boston/output.csv', index=False)

create_submission()